<div class="container-fluid login-background">
  <div class="row">
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center"
    >
      <div class="card shadow-lg w-100" style="max-width: 400px">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Iniciar Sesión</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="nombre@ejemplo.com"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Contraseña"
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h2>Bienvenidos</h2>
      <p>
        Bienvenido a nuestra plataforma. Por favor, ingrese sus datos para
        continuar.
      </p>
    </div>
  </div>
</div>
